.DeleteCollection {
    .Header {
        margin-top: 0;
    }

    .Btn {
        width: 60px;
        height: 40px;
        margin: auto;

        button {
            border-radius: 3px;
        }
    }
}