.Collections {
    margin-top: 120px;

    h1 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .Collections {
        h1 {
            transform: scale(0.8);
        }
    }
}