.Input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    padding-left: 10px;
}

.Msg {
    color: red;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    width: 100%;
}